.error {
	color: #ff0000;
	font-weight: bold;
	font: 16px calibri;
	margin-left: 200px;
	display: inline;
}

.anim {
	color: #ff0000;
	font-weight: bold;
	font: 16px calibri;
	margin-left: 10px;
	display: inline;
}

.required {
	color: #ff0000;
	font-style: italic;
	font-weight: bold;
}